<!DOCTYPE html>
<html>
<head>
	<title>The Yard &ndash; Community Re-use Hub</title>
	<meta name="description" content="The Yard, a community re-use hub in Birmingham">
	<meta name="keywords" content="yard, re-use, recycle, birmingham">
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	<script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
</head>
<body>
	
	<header class="container">
		<p id="branding">The Yard &ndash; Community Re-use Hub</p>
	</header>
	
	<div id="primary_content" class="container">
		<%= yield %>
	</div>

</body>
</html>
